apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', '/k8s/certificates/ca.pem') | b64encode }}
    server: https://{{ item.server }}:6443
  name: {{ kubernetes_cluster_name }}
contexts:
- context:
    cluster: {{ kubernetes_cluster_name }}
    user: {{ item.prefix }}{{ item.name }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ item.prefix }}{{ item.name }}
  user:
    client-certificate-data: {{ lookup('file', '/k8s/certificates/{{ item.name }}.pem') | b64encode }}
    client-key-data: {{ lookup('file', '/k8s/certificates/{{ item.name }}-key.pem') | b64encode }}
